* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
}

body {
  background-color: #222;
  color: #eee;
  font-size: 1.2em;
  max-width: 30em;
  margin: 0 auto;
  padding: 1em;
}

a[href] {
  color: #d66;
  text-decoration: none;
}

h2 {
  font-size: 1.2em;
  margin: .3em 0 .2em;
}

h2::before {
  display: inline-block;
  color: #999;
  content: '-';
  width: 1em;
  text-align: center;
}

h2.expanded::before {
  content: '|';
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
}

.buttons.expanded {
  height: auto;
}

.buttons a {
  flex-grow: 1;
  border: none;
  background-color: #ccc;
  color: #222;
  padding: .5em 1em;
  margin: 0 .5em .5em 0;
  border-radius: .5em;
  text-align: center;
}
